<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>FileHandlingSystem</display-name>
  <welcome-file-list>
    <welcome-file>Index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ViewUploadedFilesUserServlet</display-name>
    <servlet-name>ViewUploadedFilesUserServlet</servlet-name>
    <servlet-class>net.file.controller.ViewUploadedFilesUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUploadedFilesUserServlet</servlet-name>
    <url-pattern>/ViewUploadedFilesUserServlet</url-pattern>
  </servlet-mapping>
</web-app>